<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/content"%>
    <%= render "layouts/footer"%>

  <%= javascript_include_tag("application")%>
  </body>
</html>
